.box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 4px #999;
  margin-bottom: 20px;
  display: flex;
}

.adPage {
  display: flex;
}

.leftSide {
  flex: 1;
  margin-right: 20px;
  margin-top: 20px;
}

.adImage {
  width: 400px;
  height: 400px;
  margin-right: 20px;
}

.adImage img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 400px;
}

.adInfo {
  flex: 1;
}

div .adName {
  margin-bottom: 20px;
}

.adDescription {
}

.rightSide {
  width: 250px;
  margin-top: 20px;
}

h2 {
  margin: 0;
  margin-top: 20px;
}

small {
  color: #999;
}
