.searchArea {
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

.searchBox {
  background-color: #9bb83c;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0.3px rgba(0, 0, 0, 0.2);
  display: flex;
}

.searchBox form {
  flex: 1;
  display: flex;
}

.searchBox form input,
.searchBox form select {
  height: 40px;
  border: 0;
  border-radius: 5px;
  outline: 0;
  font-size: 15px;
  color: #000;
  margin-right: 20px;
}

.searchBox form input {
  flex: 1;
  padding: 0 10px;
}

.searchBox form select {
  width: 100px;
}

.searchBox button {
  background-color: #49aeef;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
}

.categoryItem {
  width: 25%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  height: 50px;
  margin-bottom: 10px;
}

.categoryItem img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.categoryItem:hover {
  color: #999;
}
