.form {
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 0px 3px #999;
}

.area {
  display: flex;
  align-items: center;
  padding: 10px;
  max-width: 500px;
}

.areaTitle {
  width: 200px;
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
  font-size: 14px;
}

.areaInput {
  flex: 1;
}

.areaInput input,
select,
textarea {
  width: 100%;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0; /* o outline eh para não ficar o azul no input */
  transition: all ease 0.4s;
}

.areaInput input:focus,
select:focus,
textarea:focus {
  border: 1px solid #333;
  color: #333;
}

textarea {
  height: 150px;
  resize: none; /* para não ter o botão para aumentar ou diminuir o tamanho do textarea, para o usuário modificar */
}

.button {
  background-color: #0089ff;
  border: 0;
  outline: 0;
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: #006fce;
}
